snippet pc
public class `!p snip.rv = snip.basename` {
	$0
}
endsnippet

snippet psfs
public static final String $1 = "$2";$0
endsnippet

snippet iter
for ($2 : $1) {
	$0
}
endsnippet

snippet fori
for (int i = 0; i < $1; i++) {
	$0            
}
endsnippet

snippet psvm
public static void main(String[] args) {
	$0
}
endsnippet

snippet sout
System.out.println($0);
endsnippet
